{{>head }}
{{>navbar }}

<div class="row">
    <div class="col-8">
        <h1>Academia udemy</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi harum esse consectetur reiciendis fugit. Corrupti inventore vel magnam! Ab tenetur ex saepe officia quas minima dicta voluptates accusantium iusto impedit!</p>
    </div>
    
    
    <div class="col-4">
        <img src="/assets/img/udemy.png" class="img-thubmail">
    </div>
</div>
{{>footer}}
